@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'KyoboHandwriting2019';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BinggreIi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff')
    format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'SchoolSafetyNotification';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-R.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

* {
  box-sizing: border-box;
  outline: none;
  /* font-family: 'Noto Sans KR', sans-serif; */
}

.box-font {
  font-family: 'Mansalva', cursive;
}

.fixed-font {
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  font-style: normal;
}

.title-font {
  font-family: 'KyoboHandwriting2019', sans-serif;
  font-weight: 600;
}

.content-font {
  font-family: 'KyoboHandwriting2019', sans-serif;
  font-weight: 400;
}

.binggre {
  font-family: 'BinggreIi', sans-serif;
  font-weight: normal;
}

.school {
  font-family: 'SchoolSafetyNotification';
  font-weight: 400;
}

html {
  font-size: 13px;
  color: #000;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

/* 기준 너비 */
.layout-width {
  min-width: 320px;
  max-width: 1150px;
  padding: 0 10px;
  margin: 0 auto;
}

/* 공통 스타일 정의 */
.flex {
  display: flex;
}

main.main-content {
  min-height: 650px;
}

/* 모달 레이어 배경 */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.ReactModal__Overlay .org-image {
  width: 100% !important;
  height: auto !important;
}

.pd-top30 {
  padding-top: 30px;
}
